<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Base template{% endblock %}</title>
    </head>
    <body>
        <div id="main">
        {% block content %}Content undefined.{% endblock %}
        </div>
    </body>
</html>